{% extends 'base-page.html' %}
{% load static %}

{% block title %}
	Log in
{% endblock title %}

{% block container %}
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      {% for error in login_form.non_field_errors %}
      <header>{{ error }}</header>
      {% endfor %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <label class="form-label" for="id_username">Login</label>
        <input type="text" placeholder="Login" id="id_username" name="username" required>
        <label class="form-label" for="id_username">Password</label>
        <input type="password" placeholder="Password" id="id_password" name="password"  required>
        <input type="submit" class="button" value="Login">
        <a href="#">Forgot password?</a>
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <li><a class="nav-link" href="{% url 'register' %}">Signup</a></li>
        </span>
      </div>
    </div>
  </div>
{% endblock container %}
