{% extends 'base-page.html' %}
{% load static %}

{% block title %}
	Signup
{% endblock title %}

{% block container %}
    <div class="container">
        <input type="checkbox" id="check" checked = "true">
    <div class="registration form">
      <header>Signup</header>
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
          {{ user_form }}
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <span><a class="nav-link" href="{% url 'login' %}">Login</a></span>
        </span>
      </div>
    </div>
    </div>
{% endblock container %}
